@tailwind base;

#app {
	margin: 10px;
}

.logo {
	width: 24px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.fade-enter-active, .fade-leave-active {
	transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}
